website:
  title: "GlobedActors25"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

project:
  type: website
  output-dir: docs
  
# ~ additional metadata excluded for brevity ~